@page "/studentoverview"

@attribute [StreamRendering(true)]

@if (students == null)
{
    <p><em>Loading....</em></p>
}
else
{
    <table class="table table-light">
        <thead class="table-primary">
            <tr>
                <th>Student ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Marks</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in students)
            {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.Name</td>
                    <td>@student.Age</td>
                    <td>@student.Marks</td>
                </tr>
            }

        </tbody>
    </table>

}
